site_name: Security Notes
site_url: https://foxxyy23-Security.github.io/security-notes/
repo_url: https://github.com/foxxyy23-Security/security-notes
repo_name: security-notes

theme:
  name: material
  palette: 
    scheme: slate
    primary: teal
    accent: cyan
  features:
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Offensive Security: offensive-security/
  - Engineering: engineering/
  - Certification Notes: certifications.md
